<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="receive" href="/tabs/receive">
      <ion-icon aria-hidden="true" name="wallet"></ion-icon>
      <ion-label>Earn</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="send" href="/tabs/send">
      <ion-icon aria-hidden="true" name="card"></ion-icon>
      <ion-label>Pay</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stats" href="/tabs/stats">
      <ion-icon aria-hidden="true" name="stats-chart"></ion-icon>
      <ion-label>Stats</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="show_wallet()">
      <ion-icon *ngIf="is_login" aria-hidden="true" name="log-in"></ion-icon>
      <ion-icon *ngIf="!is_login" aria-hidden="true" name="log-out"></ion-icon>
      <ion-label>{{ logout_login }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
