<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <zxing-scanner 
    [formats]="allowedFormats"
    [enable]="scannerEnabled"
    (scanSuccess)="scanSuccess($event)"
    (scanError)="scanError($event)"
  ></zxing-scanner>

  <ion-buttons>
    <ion-button (click)="enable_scanner()">Enable</ion-button>
    <ion-button (click)="disable_scanner()">Disable</ion-button>
  </ion-buttons>

  {{ data }}
</ion-content>
