<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      NFC Emulator
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="refresh()">Refresh</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handle_refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-card-content>
      <ion-buttons>
        <ion-button (click)="share()">Share</ion-button>
        <ion-button (click)="unshare()">Unshare</ion-button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>
</ion-content>
