<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      NFC Reader
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="refresh()">Refresh</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handle_refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ tag_id || 'Tag' }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <pre>{{ tag_info == null || tag_info == '' ? 'nothing yet' : tag_info | json }}</pre>
    </ion-card-content>
  </ion-card>
</ion-content>
