<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-buttons>
    <ion-button (click)="scan_single()">Start Scan</ion-button>
    <ion-button (click)="request_permission()">Get Permission</ion-button>
    <ion-button (click)="install_gbs()">Install Google Barcode Scanner</ion-button>
    <ion-button (click)="check_permission()">Check Permission</ion-button>
  </ion-buttons>

  {{ barcode | json }}
</ion-content>
