ion-input.custom {
    --padding-bottom: 0.7em;
    --padding-end: 0.4em;
    // --padding-start: 0.4em;
    --padding-top: 0.7em;

    // --background: gray;

    // --border-color: red;
    --border-width: 0em !important;
    font-size: 4em;
    --placeholder-color: #c8c8c8 !important;
    
}