<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Receive Money</ion-title>
    <ion-title slot="end">{{ account_id }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handle_refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <div class="d-flex justify-content-center" *ngIf="qr_finalized">
      <qrcode [qrdata]="qr_data" [elementType]="'img'" [width]="300"></qrcode>
    </div>

    <ion-card-header>
      <ion-card-title *ngIf="qr_finalized">{{ qr_data }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="myForm" novalidate autocomplete="off">
        <ion-input label="Price" formControlName="qr_data"></ion-input>

        <div class="d-flex justify-content-center">
          <ion-button (click)="lock_price()" size="large">Lock</ion-button>
          <ion-button (click)="unlock_price()" size="large">Unlock</ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
