<!-- To push the banner down. -->
<ion-header class="ion-no-border">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">Stats</ion-title>
    <ion-title slot="end">{{ account_id }}</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handle_refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="account_id.trim().length === 0">
    <div class="container-center">
      <p class="display-6">Please login to continue</p>
    </div>
  </ng-container>

  <ng-container *ngIf="account_id.trim().length !== 0">
    <div *ngIf="!stats_activated" class="container-center">
      <p class="display-6">Stats not activated.</p>
      <ion-button size="large" (click)="activate_stats()">Activate</ion-button>
    </div>

    <ng-container *ngIf="stats_activated">
      <ion-segment [(ngModel)]="curr_seg" value="spendings">
        <ion-segment-button *ngFor="let item of segments; let i = index"
        [value]="item" (click)="_segment_sel(i)">
          <ion-label>{{ item | titlecase }}</ion-label>
        </ion-segment-button>
      </ion-segment>

      <swiper-container #swiper (swiperafterinit)="swiper_ready()" 
      (swiperslidechange)="swiper_slided($event)">
        <swiper-slide *ngFor="let seg of segments">
          <ion-card class="no-border">
            <ion-card-content>
              <ng-template [ngTemplateOutlet]="graphTemplate" 
                [ngTemplateOutletContext]="{ $implicit: seg }">
                <ion-refresher (ionRefresh)="handle_refresh($event)">
                  <ion-refresher-content></ion-refresher-content>
                </ion-refresher>
              </ng-template>
            </ion-card-content>
          </ion-card>
        </swiper-slide>
      </swiper-container>

    </ng-container>
  </ng-container>

</ion-content>


<!-- Template for Graph -->
<ng-template #graphTemplate let-seg>
  <p *ngIf="!month_option" class="text-danger text-center">
    Charts not loaded. Pull down to refresh. 
  </p>
  <div echarts [options]="month_option">
    <!-- <ion-refresher slot="fixed" (ionRefresh)="handle_refresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher> -->
  </div>
  <div echarts [options]="year_option">
    <!-- <ion-refresher slot="fixed" (ionRefresh)="handle_refresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher> -->
  </div>
</ng-template>